@page "/admin"

<!-- We should add analytics to this page if time. We probably do not need this though.-->
<h1>Admin Dashboard</h1>
<div class="container">
    <NavLink href="/users" class="btn btn-primary shadow">Create / Edit Users</NavLink>
    <NavLink href="/service" class="btn btn-primary shadow">Create / Edit Services</NavLink>
    <NavLink href="/bookings" class="btn btn-primary shadow">Create / Edit Bookings</NavLink>
    <NavLink href="/reviews" class="btn btn-primary shadow">Create / Edit Reviews</NavLink>
</div>