@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

html, body {
    font-family: "Playfair Display", serif;
    background-color: #CBDED3;
}

.navbar-brand-text {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 1.75rem;
    color: white;
    letter-spacing: 1px;
    user-select: none;
}


.btn-primary {
    background-color: #3B6255;
    border-color: #3B6255;
    color: white;
}

.btn-primary.active {
    background-color: #3B6255;
    border-color: #3B6255;
    color: white;
}

.btn-primary:hover {
    background-color: #3B6255;
    border-color: #3B6255;
    color: white;
    }

.btn-primary:active {
    background-color: #3B6255 !important; 
    border-color: #3B6255 !important;
    color: white !important;
}
.navbar {
    background-color: #8BA49A !important;
    height: 5rem;
}

.btn.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
}



